{{> head }}
<body>

    <div class="wrapper">
        {{> header }}
        <div class="main glass">
            {{> navbar }}
            <div class="container">
                {{{ body }}}
            </div>
        </div>
    {{> squares }}
    {{> footer }}
    </div>

</body>
</html>