{{> head }}
<body>

    <div class="wrapper">
        {{> header }}
        <div class="main glass">
            {{> navbar }}
            {{{ body }}}
        </div>
    </div>

        {{> squares }}
    {{> footer }}

</body>
</html>