* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    
}

.sm-box {
    min-width: 25%;
}

.light {
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    color: #ececf6;
    background: linear-gradient(to right bottom,
     rgba(255, 255, 255, .4),
     rgba(255, 255, 255, .2));
    border: none;
    text-align: center;
    box-shadow: 6px 6px 20px rgb(26, 27, 58, .8);
}


.wrapper {
    /* background: linear-gradient(to bottom, #65dfc9, #6cdbeb); */
    background: linear-gradient(to bottom right, #343762, #2a2951);
    height: 100vh;
    padding-top: 25px;
}

.glass {
    /* border: 1px solid #65dfc9; */
    border: none;
    border-radius: 10px;
    background-color: #fff;
/*     background: linear-gradient(to right bottom,
     rgba(255, 255, 255, .6),
     rgba(255, 255, 255, .3)); */
    background: linear-gradient(to right bottom,
     rgba(97, 32, 253, .6),
     rgba(247, 102, 183, .3));
    box-shadow: 6px 6px 20px rgba(26, 27, 58, .8);
}

.header {
    display: flex;
    width: 80%;
    height: 100px;
    margin: 0 auto;
}

.header__title {
    /* color: #3D6670; */
    color: #ececf6;
    font-weight: 900;
    font-size: 42px;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.header__title span {
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 9px;
    text-align: center;
}

.header img {
    width: 100px;
    height: 100px;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fef0ff;
}

.login i {
    font-size: 40px;
    color: #ececf6;
    padding: 0 15px;
}

.main {
    width: 80%;
    height: 700px;
    margin: 25px auto;
    position: relative;
    z-index: 10;
    backdrop-filter: blur(10px);
}

.balance {
    position: absolute;
    top: 15px;
    right: 15px;
    min-width: 30%;
    min-height: 15%;
    color: #3D6670;
    background: linear-gradient(to right bottom,
     rgba(255, 255, 255, 0.4),
     rgba(255, 255, 255, .2));
    box-shadow: 6px 6px 20px rgba(122, 122, 122, .2);
    border: none;
    text-align: center;
}

.balance__sum {
    font-weight: 300;
    font-size: 35px;
    font-family: 'Dosis', sans-serif;
}

.balance__sum span {
    font-weight: 600;
    font-size: 20px;
}

.square-1 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 8%;
    border:none;
    z-index: 1;
}
.square-2 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    right: 5%;
    border:none;
    z-index: 1;
}
.square-3 {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 8%;
    left: 8%;
    border:none;
    z-index: 1;
}

.dashboard {
    height: 100%;
    width: 30%;
    position: absolute;
    /* color: #3D6670; */
    color: #ececf6;
    background: linear-gradient(to right bottom,
     rgba(255, 255, 255, .4),
     rgba(255, 255, 255, .2));
    border: none;
    text-align: center;
    padding-top: 15px;
    left: 0;
}

.dashboard a {
    color: #fff;
    /* color: #3D6670; */
    font-weight: 600;
    letter-spacing: 2px;
}

.tools {
    margin-top: 30px;
}

.invest,
.savings,
.income {
    border: none;
    margin: 10px;
    padding: 10px 0;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, .4),
    rgba(255, 255, 255, .2));
}

.time {
    padding: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .time::before{
    content: '';
    position: absolute;
    bottom: -150px;
    width: 100%;
    height: 60px;
    background: #000;
    border-radius: 50%;
} */


.box {
    position: relative;
    z-index: 1;
    width: 200px;
    height: 200px;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, .4),
    rgba(255, 255, 255, .2));
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .5);
}

.clock {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: radial-gradient(transparent, rgba(42, 255, 202, 0.2)), url(../images/clock.png); */
    background: radial-gradient(transparent, rgba(48, 51, 94, 0.2)), url(../images/clock.png);
    background-size: cover;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .5);
    box-shadow:-10px -10px 20px 
    rgba(255, 255, 255, .1), 10px 10px 20px 
    rgba(0, 0, 0, .1);

}

.clock::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;border-radius: 50%;
    z-index: 100;
}

.hour,
.min,
.sec {
    position: absolute;
}

.hour, .hr {
    width: 100px;
    height: 100px;
}

.min, .mn {
    width: 150px;
    height: 150px;
}

.sec, .sc {
    width: 180px;
    height: 180px;
}

.hr, .mn, .sc {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 50px;
    /* background: #00aa17; */
    background: #7300a8;
    z-index: 11;
    border-radius: 4px;
}

.mn::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 70px;
    /* background: #3D6670; */
    background: #bf61eb;
    z-index: 12;
    border-radius: 4px;
}

.sc::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100px;
    /* background: #ffffff; */
    background: #fff;
    z-index: 12;
    border-radius: 4px;
}


.user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user img {
    width: 80px;
    height: 80px;
    padding: 5px;
    background: #fff;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, .4),
    rgba(255, 255, 255, .2));
    border-radius: 50%;
}

.income__block {
    width: 60%;
    height:70%;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, .4),
    rgba(255, 255, 255, .2));
    position: absolute;
    top: 20%;
    left: 35%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, .2);
}

.container {
    width: 70%;
    position: absolute;
    right: 0;
    display: flex;
    flex-wrap: wrap;
}

.get__the-job {
    font-weight: 800;
    font-size: 45px;
    /* color: #3D6670; */
    color: #e8e9ef;
    margin: 200px auto;
}

.wage {
    min-width: 25%;
    padding: 10px;
    margin: 100px auto 0;
    border: none;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, .3),
    rgba(255, 255, 255, .1));
    /* box-shadow: 6px 6px 20px rgba(122, 122, 122, .4); */
    box-shadow: 6px 6px 20px rgb(26, 27, 58, .8);
}

.wage__title {
    font-weight: 800;
    color: #e8e9ef;
    text-align: center;
    letter-spacing: 3px;
}

.add__income {
    border: none;
    position: absolute;
    right: 0;
    margin: 20px;
    padding: 20px;
    color: #e8e9ef;
    font-weight: 800;
    box-shadow: 6px 6px 20px rgba(37, 37, 37, 0.2);
    transition: box-shadow 1s;
}

.add__income a {
    color: #e8e9ef;
}

.add__income:hover {
    cursor: pointer;
    box-shadow: 15px 15px 20px rgba(46, 46, 46, 0.2);
}

.active {
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, .9),
    rgba(255, 255, 255, .3));
}

.cursor {
    transition: background .3s;
}

.cursor:hover {
    cursor: pointer;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, .8),
    rgba(255, 255, 255, .3));
}

.form__box {
    width: 400px;
    position: relative;
    margin: 100px auto;
    border: 1px solid rgba(255,255,255,0.3);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    color: #ffeaff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .1);
}

.form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form h3 {
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 25px;
}

.input__field {
    width: 100%;
    margin-top: 20px;
}

.input__field input {
    width: 100%;
    background: rgba(255, 255, 255, .2);
    border: none;
    outline: none;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffeaff;
}

.input__field input::placeholder{
    /* color: rgba(61, 102, 112, .5); */
    color: rgba(195, 196, 212, .5);
}

.btn {
    width: 100%;
    background: rgba(255, 255, 255, .2);
    border: none;
    outline: none;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #c3c4d4;
    cursor: pointer;
}

.btn:hover {
    background: rgba(254, 234, 255, .6);
    color: #fff;
    transition: background .5s;
}

.edit__btn {
    text-align: center;
}

.edit__btn a {
    color: #e8eaf4;
}

.wage__list {

}

.wage__list li {
    font-weight: 600;
    color: #202042;
}

.wage__list span {
    font-weight: 400;
    padding: 0 15px;
    color: #faddf8;
}

.wage__list-item a {
    color: #6323fe;
}

.wage__list-item a:hover {
    color: #fff;
    transition: color 1s
}


.wage__total-prev {
    display: flex;

}

.wage__page {
    margin: 50px auto;
    width: 90%;
    height: 600px;
}

.number__format {
    font-size: 16px;
}

.footer {
    text-align: center;
    color: #fff;
}

