<div class="header glass">
    <div class="header__logo">
        <img src="/images/logo.svg" alt="">
    </div>
    <div class="header__title">
        E-Wallet
        <span>APLICATION</span>
    </div>
    <div class="login">
        <i class="far fa-user"></i>
        <span>LOGIN</span>
    </div>
</div>

{{!-- <style>
.header {
    display: flex;
    width: 80%;
    height: 100px;
    margin: 0 auto;
}

.header__title {
    color: #3D6670;
    font-weight: 900;
    font-size: 42px;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.header__title span {
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 9px;
    text-align: center;
}

.header img {
    width: 100px;
    height: 100px;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login i {
    font-size: 40px;
    color: #3D6670;
    padding: 0 15px;
}
</style> --}}