<div class="header glass">
    <div class="header__logo">
        <a href="/">
            <img src="/images/logo.svg" alt="">
        </a>
    </div>
    <div class="header__title">
        E-Wallet
        <span>APLICATION</span>
    </div>
    <div class="login">
        <i class="far fa-user"></i>
        <span>LOGIN</span>
    </div>
</div>