<div class="header glass">
    <div class="header__logo">
        <a href="/">
            <img src="/images/logo.svg" alt="">
        </a>
    </div>
    <div class="main__tabloid">
    <div class="tablo">
        <div class="tablo__total">
            <span>1000</span>
        </div>
            <div class="tablo__info">
                <p>Savings: </p><span class="total__savings number__format small__numbers"> 1000</span>
                <p>Invest:  </p><span class="total__invest number__format small__numbers"> 1000</span>
                <p>Income:  </p><span class="total__income number__format small__numbers"> 1000</span>
            </div>
        </div>
    </div>

    <div class="header__title">
        E-Wallet
        <span>APLICATION</span>
    </div>
    <div class="login">
        <i class="far fa-user"></i>
        <span>LOGIN</span>
    </div>
</div>

<style>
    .main__tabloid {
        font-family: 'DotGothic16', sans-serif;
    }
    .tablo__total {
        font-weight: 600;
        font-family: 'DotGothic16', sans-serif;
        font-size: 35px;
        color: #fff;
    }

    .tablo__total span {
        font-family: 'DotGothic16', sans-serif;
    }
    .small__numbers {
        font-weight: 300;
        font-size: 12px;
        color: rgb(144, 255, 144);
        font-family: 'DotGothic16', sans-serif;
    }
    .tablo__info {
        display: flex;
        color: #fff;
    }
    
</style>