<div class="header glass">
    <div class="header__logo">
        <a href="/">
            <img src="/images/logo.svg" alt="">
        </a>
    </div>
    <div class="header__title">
        E-Wallet
        <span>APLICATION</span>
    </div>
    <div class="login">
        <i class="far fa-user"></i>
        <span>LOGIN</span>
    </div>
</div>

<style>
    .main__tabloid {
    }
    .tablo__total {
        font-weight: 600;
        font-size: 35px;
        color: #fff;
    }

    .tablo__total span {
        font-size: 30px;
    }
    .small__numbers {
        font-weight: 300;
        font-size: 12px;
        color: rgb(144, 255, 144);
    }
    .tablo__info {
        display: flex;
        color: #fff;
    }
    
</style>