<div class="dashboard glass">
    <div class="user">
        <img src="/images/logo.svg" alt="">
        <span>USER NAME</span>
    </div>
    <div class="tools">
        <div class="invest glass cursor">
            <a class="invest__link" href="/invest">INVESTMENTS</a>
        </div>
        <div class="savings glass cursor">
            <a class="savings__link" href="/saving">SAVINGS</a>
        </div>
        <div class="income glass active cursor">
            <a class="income__link" href="/income">INCOME</a>
        </div>
    </div>

    <div class="time">
        <div class="box">
            <div class="clock">
                <div class="hour">
                    <div class="hr" id="hr"></div>
                </div>
                <div class="min">
                    <div class="mn" id="mn"></div>
                </div>
                <div class="sec">
                    <div class="sc" id="sc"></div>
                </div>
            </div>
        </div>
    </div>

</div>