  <div class="row">
{{!--     <div class="col">
      <ul class="tabs">
        <li class="tab btn"><a class="active" href="#login">LogIn</a></li>
        <li class="tab btn"><a href="#registration">Sign Up</a></li>
      </ul>
    </div> --}}

    <div id="login" class="col">

        {{#if loginError}}
            <p class="alert__message light">{{loginError}}</p>
        {{/if}}

        <h3>Log In</h3>
         <form action="/auth/login" method="POST">  
                <div class="input__field">
                    <label for="email">Enter Email</label>
                    <input type="email" name="email" class="validate" placeholder="Email" id="email" required>
                </div>

                <div class="input__field">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="validate" placeholder="password" id="password" required>
                </div>
                
                <input type="hidden" name="_csrf" value="{{csrf}}">

                <div class="input__field">
                    <button class="btn" type="submit">Log In</button>
                </div>
            </form>
    </div>
    <div id="registration" class="col">

        {{#if registError}}
            <p class="alert__message light">{{registError}}</p>
        {{/if}}

                <h3>Sign Up</h3>
         <form action="/auth/registration" method="POST">  
                <div class="input__field">
                    <label for="remail">Enter Email</label>
                    <input type="remail" name="email" class="validate" placeholder="Email" id="email" required>
                </div>
                <div class="input__field">
                    <label for="name">Enter Name</label>
                    <input type="text" name="name" class="validate" placeholder="Enter your name" id="name" required>
                </div>

                <div class="input__field">
                    <label for="rpassword">Password</label>
                    <input type="password" name="password" class="validate" placeholder="password" id="rpassword" required>
                </div>

                <div class="input__field">
                    <label for="confirm">Repeat Password</label>
                    <input type="password" name="confirm" class="validate" placeholder="Repeat password" id="confirm" required>
                </div>

                <input type="hidden" name="_csrf" value="{{csrf}}">

                <div class="input__field">
                    <button class="btn" type="submit">Sign Up</button>
                </div>
            </form>
    </div>
  </div>