<div class="main__tabloid">
    <div class="tablo">
        <div class="tablo__total light">
            <p>Total</p>
            <span class="number__format">1000</span>
        </div>
        <div class="tablo__info">
            <div class="tablo__info-item light">
                <p>Savings: </p>
                <span class="total__savings number__format small__numbers"> 1000</span>
            </div>
            <div class="tablo__info-item light">
                <p>Invest:  </p>
                <span class="total__invest number__format small__numbers"> 1000</span>
            </div>
            <div class="tablo__info-item light">
                <p>Income:  </p>
                <span class="total__income number__format small__numbers"> 1000</span>
            </div>
        </div>
    </div>
</div>

<style>
    .tablo__total{
        min-width: 200px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .tablo__info {
        display: flex;
        flex-direction: column;
    }
</style>