<div class="wage__page glass">
    <div class="wage glass">
        <h3 class="wage__title">WAGES</h3>
        <ul class="wage__list">
            <li class="wage__list-item">EMPLOYER: <span>{{wages.employer}}</span></li>
            <li class="wage__list-item">POSITION: <span>{{wages.position}}</span></li>
            <li class="wage__list-item">WAGE / SALARY: <span> {{wages.wage}} / hour</span></li>
            <li class="wage__list-item">MONTH: <span>Every</span></li>
            <li class="wage__list-item"> <a href="#">CHECK SCHEDULE</a> </li>
        </ul>
        <div class="wage__total">
            <h4 class="wage__total-title">Total:</h4>
            <div class="wage__total-sum number__format">1000 </div>
        </div>
    </div>
</div>